<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	<resultMap id="boardResultSet" type="Board">
		<result column="BOARD_NO" property="boardNo" />
		<result column="BOARD_TITLE" property="boardTitle" />
		<result column="BOARD_CONTENT" property="boardContent" />
		<result column="USER_ID" property="boardWriter" />
		<result column="COUNT" property="count" />
		<result column="CREATE_DATE" property="createDate" />
	</resultMap>
	<!--
		* resultType : mybatis에서 설정해놓은 별칭을 사용해야 함
		  (공식 사이트 : 매퍼설정 > TypeAliases 아래 부분...)
	-->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS='Y'
	</select>
	
	<select id="selectList" resultMap="boardResultSet">
		SELECT
			BOARD_NO, BOARD_TITLE, USER_ID, COUNT, CREATE_DATE
		FROM
			BOARD B
			INNER JOIN MEMBER M ON B.BOARD_WRITER = M.USER_NO
		WHERE
			B.STATUS='Y'
		ORDER BY CREATE_DATE DESC
	</select>
</mapper>