<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	<resultMap id="boardResultSet" type="Board">
		<result column="BOARD_NO" property="boardNo" />
		<result column="BOARD_TITLE" property="boardTitle" />
		<result column="BOARD_CONTENT" property="boardContent" />
		<result column="USER_ID" property="boardWriter" />
		<result column="COUNT" property="count" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="BOARD_CONTENT" property="boardContent" />
	</resultMap>
	
	<resultMap id="replyResultSet" type="com.kh.mybatis.board.model.vo.Reply">
		<result column="REPLY_CONTENT" property="replyContent" />
		<result column="USER_ID" property="replyWriter" />
		<result column="CREATE_DATE" property="createDate" />
	</resultMap>
	<!--
		* resultType : mybatis에서 설정해놓은 별칭을 사용해야 함
		  (공식 사이트 : 매퍼설정 > TypeAliases 아래 부분...)
	-->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS='Y'
	</select>
	
	<select id="selectList" resultMap="boardResultSet">
		SELECT
			BOARD_NO, BOARD_TITLE, USER_ID, COUNT, CREATE_DATE
		FROM
			BOARD B
			INNER JOIN MEMBER M ON B.BOARD_WRITER = M.USER_NO
		WHERE
			B.STATUS='Y'
		ORDER BY CREATE_DATE DESC
	</select>
	<update id="increaseCount">
		update board
			set count = count + 1
			where board_no = #{boardNo} and status ='Y'
	</update>
	<select id="selectBoard" parameterType="_int" resultMap="boardResultSet">
		SELECT board_no, board_title, board_content, user_id, count, create_date
		FROM board b join member on (board_writer = user_no)
		WHERE b.status='Y'
			and board_no = #{boardNo}
	</select>
	<select id="selectReplyList" parameterType="_int" resultMap="replyResultSet">
		SELECT reply_content, user_id, create_date
		FROM reply r inner join member on (reply_writer = user_no)
		WHERE ref_bno = ${refBon} and r.status = 'Y'
	</select>
</mapper>